/* ** LOADER STYLES ** */

.loaderCont {
  position: relative;
  display: flex;
  justify-content: center;
  width: 10%;
}

.loaderCont p{
  position: absolute;
  bottom: 0;
}

img{
  margin-bottom: 5px;
  width: 100%;
}
