/* ** MESSAGE STYLES ** */
div.messageCont {
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 6;
  border: 2px solid lightBlue;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 5% 2% 2% 2%;
  max-width: 100%;
}

@media only screen and (max-width: 450px) {
  div.messageCont {
    padding: 7% 2% 2% 2%;
  }
}

.messageCont p {
  color: #eee;
}

.messageCont .messageClose {
  color: #eee;
  opacity: 0.8;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.4rem;
}

.messageCont .messageClose:hover {
  color: #eee;
  opacity: 1;
  cursor: pointer;
}
